@import "tailwindcss";

:root {
  --background: #f2f9f9;
  --foreground: #171717;
  --primary: rgb(79, 183, 179);
  --primary-light: #9ddcda;
  --primary-dark: #308582;
  --secondary: #52a6ff;
  --accent: #ffd752;
}

* {
  /*border: 1px solid red;*/
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--background: #0a0a0a;
    --foreground: #ededed;*/
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}
